<ngb-carousel class="carousel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="imagen">
        <img src="../../../assets/images/carousel1.jpg" class="img-fluid" alt="Primera imagen">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <div class="imagen">
        <img src="../../../assets/images/carousel2.jpg" class="img-fluid" alt="Segunda imagen">
      </div>

    </div>
  </ng-template>
</ngb-carousel>