.imagen{ 
    height: 330px;
    display: flex;
    width: 100%;
}
.carousel {
    position: relative;
    z-index: 20;
}
@media (max-width: 600px) {
    .carousel {
        margin-top: 0px;
        display: none;
    }
    .imagen {
        display: none;
    }
}