.carousel {
    position: relative;
    z-index: 20;
}

img{
    width: 100%;
    height: auto;
    max-height: 320px;
}

@media (max-width: 600px) {
    .carousel {
        margin-top: 0px;
        display: none;
    }

    img {
        display: none;
    }
}