h1 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 0.9;
}
h2 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.acercade {
    background-size: cover;
    padding-top: 0%;
}

.card {
    background-color: transparent;
    padding: 30px 30px 10px 30px;
    border-radius: 8px;
    border: 2px solid #9488fc;
    transition: transform .5s ease-in-out;
}

.button {
    background-color: transparent;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 26px;
}

.boton-editar {
    margin-bottom: 1rem;
    border-radius: 50%;
    border-radius: 26px;
}
.box-personal-info-title {
    text-align: center;
    color: white;
    border-bottom: 1px solid #494949;
    padding-bottom: 12px;
}

.avatar:hover {
    transform: scale(1.35);
}

.avatar {
    position: relative;
    border-radius: 50%;
    margin-top: 2.5rem;
    width: 140px;
    height: 140px;
    border: 3px solid #dedede;
}

.parrafo {
    text-align: justify;
    padding: 1.5rem;
}
.footer {
    margin: 1.5rem;
}
h3 {
    margin-top: -20px;
}
.modalaboutus {
    background-color: var(--main-color);
    color: white;
}
@media (max-width: 600px) {
    h1 {
        font-size: 4.5rem;
    }
    .acercade {
        padding-top: 15%;
    }
    .titulojr {
        padding-right: 1rem;
    }
    .personal-info{
        margin-top: 10%;
    }
    .avatar {
        margin-bottom: 1rem;
    }
    @media (min-width: 1920px) and (max-width: 2560px)  {
        h1{
            font-size: 7rem;
        }
    }
}

