h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 0.9;
}
h2 {
    font-size: 2rem;
}
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.acercade {
    background-size: cover;
    padding-top: 2%;
}

.card {
    background-color: var(--card-color);
    padding: 20px 20px 10px 20px;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
}

.button {
    background-color: transparent;
    margin-top: 2%;
    border: 2px solid #ffffff;
    border-radius: 26px;
}

.boton-editar {
    margin-bottom: 1rem;
    border-radius: 50%;
    border-radius: 26px;
}
.box-personal-info-title {
    text-align: center;
    border-bottom: 1px solid #dedede;
    padding-bottom: 3px;
}

.avatar:hover {
    transform: scale(1.25);
}

.avatar {
    position: relative;
    border-radius: 50%;
    margin-top: 2rem;
    width: 140px;
    height: 140px;
    border: 3px solid #dedede;
}

.info {
    margin-top: -7%;
    padding-right: 5%;
}

.parrafo {
    text-align: justify;
}

h3 {
    margin-top: -20px;
}

@media (max-width: 600px) {
    .info {
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
    .acercade {
        padding-top: 15%;
    }
    .titulojr {
        padding-right: 1rem;
    }
    .personal-info{
        margin-top: 10%;
    }
    .avatar {
        margin-bottom: 2rem;
    }
}

