<div class="footer">
    <div class="container" data-aos="zoom-in-right" data-aos-duration="500">
        <a href="https://facebook.com/{{socialInfo.facebook}}" class="btn btn-azul" *ngIf="socialInfo.facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com/{{socialInfo.instagram}}" class="btn btn-azul" *ngIf="socialInfo.instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/{{socialInfo.twitter}}" class="btn btn-azul" *ngIf="socialInfo.twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://youtube.com/{{socialInfo.youtube}}" class="btn btn-azul" *ngIf="socialInfo.youtube"><i class="bi bi-youtube"></i></a>
        <a href="https://linkedin.com/{{socialInfo.linkedin}}" class="btn btn-azul" *ngIf="socialInfo.linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/{{socialInfo.github}}" class="btn btn-azul" *ngIf="socialInfo.github"><i class="bi bi-github"></i></a>

        <br>
        <div class="text-center text-muted">
            <p>Plataforma realizada por <strong>Octavio E. Whitaker</strong><br>Desarrollado utilizando los criterios y
                requisitos de Argentina Programa</p>
        </div>
    </div>
</div>