.espaciador {
    flex: 1 1 auto;
}

.iconos {
    margin-left: 0.5rem;
    border-color: transparent;
    background-color: transparent;
    color: white;
}

.iconos:hover {
    transition: transform 0.2s ease-in 0s;
    transform: scale(1.3)
}

.navbar {
    transition: background-color 0.5s ease 0s;
    background-color: transparent;
    height: 70px;
}

.nav-solid {
    transition: background-color 0.5s ease 0s;
    background-color: var(--navbar-color);
    box-shadow: 0px 3px 6px -1px rgba(29, 29, 29, 0.5);
}

.modal {
    background: transparent;
}

.btn-menu {
    color: white;
}

.img {
    padding-left: 13px;
    position: flex;
    height: 75%;
    color: white;
}

.titulo {
    visibility: visible;
    padding-left: 1rem;
}

.line {
    border-left: 1px solid white;
    opacity: 50%;
    height: 50%;
    margin-left: 0.5rem;
}

a:link {
    text-decoration: none;
    color: #252525;
}

a:visited {
    text-decoration: none;
    color: #252525;
}

a:hover {
    text-decoration: none;
    color: #252525;
}

a:active {
    text-decoration: none;
    color: #252525;
}

.onlymobile {
    display: none;
}

.button {
    background-color: transparent;
    border: 2px solid #24c72c;
    border-radius: 26px;
}

.btn-logout {
    background-color: transparent;
    border: 2px solid #c72424;
    border-radius: 26px;
}

@media (max-width: 600px) {
    .titulo {
        display: none;
    }

    .onlymobile {
        display: block;
    }

    .login {
        display: none;
    }

    .btn-logout {
        display: none;
    }

    .button {
        display: none;
    }

    .line {
        display: none;
    }
}