h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.skills {
    background-color: var(--main-color);
    padding-top: 5%;
    padding-bottom: 45px;
}

.titulo {
    text-align: center;
    padding-bottom: 3%;
    font-size: 40px;
}

.bar {
    position: absolute;
    top: -20px;
    width: 80%;
}

.card-details {
    margin-top: 10px;
    clear: right;
    vertical-align: middle;
}

.card-details h2 {
    padding-bottom: 15px;
}

.card img {
    margin-right: 3%;
    position: absolute;
    top: 21%;
    right: 3px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.5s ease-in 0s;
}

.card:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.progress {
    height: 20px;
    background: var(--main-color);
    border-radius: 20px;
    border: 1px solid rgb(71, 71, 71);
    box-shadow: 0 2px 2px #4f4c4c;
    overflow: visible;
    position: relative;
    cursor: pointer;
}

.progress .progress-bar {
    border-radius: 20px;
    border: 1px solid rgb(69, 66, 82);
    animation: animate-positive 3s;
}

.progress .progress-value {
    width: 65px;
    height: 25px;
    line-height: 25px;
    background-color: #464c88;
    font-size: 15px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid rgb(72, 69, 92);
    border-top: none;
    box-shadow: 0 2px 2px #4f4c4c;
    position: absolute;
    bottom: -25px;
    right: 60px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}



.line {
    align-items: center;
    border-radius: 10%;
    border: red;
    width: 10%;
    height: 10%;
}

.divider:before {
    position: relative;
    float: left;
    margin-top: 40px;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
    width: 50%;
    height: .7px;
    content: "";
}

.divider:after {
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    float: right;
    background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
    width: 50%;
    height: .7px;
    content: "";
}

.card {
    margin-top: 10px;
    background-color: var(--card-color);
    padding: 10px 10px 10px 30px;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
}

.card-language {
    background-color: rgb(58, 73, 83);
}

.card:hover {
    transform: scale(1.03);
}

.card-img {
    width: 4rem;
    float: right;
}



.mat-progress-bar-fill::after {
    background-color: green;
}

.mat-progress-bar-buffer {
    background: #E4E8EB;
}

.boton-editar {
    position: relative;
    left: 28%;
    border-radius: 50%;
}

.boton-eliminar {
    position: relative;
    left: 30%;
    border-radius: 50%;
}

.circles {
    text-align: center;
    padding-bottom: 30px;
}

.circle-title {
    font-size: 30px;
    color: #e6e4e9;
    font-weight: 100px;
}

.circulo {
    font-family: 'Anton', sans-serif;
}