<section id="habilidades">
    <div class="skills">
        <div class="container" data-aos="zoom-in-right" data-aos-duration="500">
            <h1 class="titulo">Mis habilidades</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success zoom-in" (click)="open(addSkillModal)"><i
                        class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar
                    habilidad</button>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let skill of skillsInfoArray">
                    <div class="card">
                        <div class="card-details">
                            <img *ngIf="skill.image" src="{{skill.image}}" class="card-img" alt="Imagen">
                            <h2>{{skill.name}}</h2>
                            
                        </div>
                        <div class="progress bar" #tooltip="matTooltip" matTooltip="{{skill.percentage}}%" matTooltipPosition="above">
                            <div class="progress-bar" [style.width.%]=skill.percentage style="background: #0074b7" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider mb-4"></div>
            <div class="row">
                <div class="col-lg-6 col-sm-12" *ngFor="let language of languageInfoArray">
                    <div class="card">
                        <div class="card-details">
                            <img *ngIf="language.image" src="{{language.image}}" class="card-img" alt="Imagen">
                            <h2>{{language.name}}</h2>
                            
                        </div>
                        <div class="progress bar" #tooltip="matTooltip" matTooltip="{{language.percentage}}%" matTooltipPosition="above">
                            <div class="progress-bar" [style.width.%]=language.percentage style="background: #0074b7" ></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal para Agregar habilidad  -->
<ng-template #addSkillModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-plus-circle"></i> Agregar nueva habilidad
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="text" name="name" id="name" [(ngModel)]="addSkill.name"
                        class="form-control rounded-3" id="floatingInput" placeholder="Coloca el nombre">
                    <label for="floatingInput" *ngIf="addSkill.islanguage == false">Habilidad</label>
                    <label for="floatingInput" *ngIf="addSkill.islanguage == true">Idioma</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="percentage" id="percentage" class="form-control rounded-3"
                        id="floatingInput" [(ngModel)]="addSkill.percentage" placeholder="Coloca el porcentaje">
                    <label for="floatingInput">Porcentaje</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="image" id="image" class="form-control rounded-3"
                        id="floatingInput" [(ngModel)]="addSkill.image" placeholder="Coloca el link del ícono">
                    <label for="floatingInput">Link del ícono</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" (change)="isLanguage($event)" type="checkbox" role="switch"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Es un idioma</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="save(addSkill)"><i
                class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar</button>
    </div>
</ng-template>

<!-- Modal para Editar habilidad  -->
<ng-template #editSkill let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-pencil"></i> Editar habilidad</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="text" name="name" id="name" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addSkill.name" placeholder="Coloca el nombre">
                    <label for="floatingInput" *ngIf="addSkill.islanguage == false">Habilidad</label>
                    <label for="floatingInput" *ngIf="addSkill.islanguage == true">Idioma</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="percentage" id="percentage" class="form-control rounded-3"
                        id="floatingInput" [(ngModel)]="addSkill.percentage" placeholder="Coloca el porcentaje">
                    <label for="floatingInput">Porcentaje</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="addSkill.islanguage"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Es un idioma</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="edit(addSkill)"><i
                class="bi bi-pencil"></i>&nbsp;&nbsp;Editar</button>
    </div>

</ng-template>