<section id="experiencia" class="min-vh-100 pt-5 pb-5 justify-content-center align-items-center d-flex">
    <div class="experience">
        <div class="container" data-aos="zoom-in-right" data-aos-duration="500">
            <h1 class="titulo">Experiencia laboral</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button *ngIf="isLogged" class="btn btn-success zoom-in" (click)="open(addExperienceModal)"><i
                        class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar
                    experiencia</button>
            </div>
            <div class="row tarjeta" cdkDrag *ngFor="let experiencie of experienceInfo" data-aos="fade-up"
                data-aos-duration="500">
                <div class="col-lg-4 col-sm-12" style="align-items: center;">
                    <div class="card" style="width: 18rem; align-items: center;">
                        <img class="card-img-top" src="{{experiencie.image}}" class="image-card" alt="Imagen">
                        <div class="card-body">
                            <p class="card-text">{{experiencie.startdate}} <i class="bi bi-arrow-right"
                                    *ngIf="experiencie.enddate != null && experiencie.enddate != ''"></i>
                                {{experiencie.enddate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container descripcion">
                            <h1>{{experiencie.title}}</h1>
                            <p style="text-align: justify;">{{experiencie.description}}</p>
                            <button *ngIf="isLogged" type="button" (click)="editBtn(editExperienceModal, experiencie)"
                                class="btn btn-success btn-edit zoom-in"><i class="bi bi-pencil"></i></button>
                            <button *ngIf="isLogged" type="button" (click)="deleteExperience(experiencie.id)"
                                class="btn btn-danger btn-delete zoom-in"><i class="bi bi-trash3"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal para Agregar experiencia  -->
<ng-template #addExperienceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-plus-circle"></i> Agregar nueva experiencia
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="text" name="title" id="title" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.title" placeholder="Coloca el título">
                    <label for="floatingInput">Nombre de la empresa/organización</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="startdate" id="startdate" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.startdate" placeholder="Coloca el usuario">
                    <label for="floatingInput">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="enddate" id="enddate" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.enddate" placeholder="Coloca el usuario">
                    <label for="floatingInput">Fecha de finalización</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Descripción</span>
                    <textarea class="form-control" name="description" id="description"
                        [(ngModel)]="addExperience.description" aria-label="With textarea"></textarea>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="image" id="image" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.image" placeholder="Link imagen">
                    <label for="floatingInput">Link de la imagen</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="save(addExperience)"><i
                class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar</button>
    </div>
</ng-template>

<!-- Modal para Editar experiencia  -->
<ng-template #editExperienceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="bi bi-pencil"></i> Editar experiencia</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="text" name="title" id="title" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.title" placeholder="Coloca el título">
                    <label for="floatingInput">Nombre de la empresa/organización</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="startdate" id="startdate" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.startdate" placeholder="Coloca el usuario">
                    <label for="floatingInput">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="enddate" id="enddate" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.enddate" placeholder="Coloca el usuario">
                    <label for="floatingInput">Fecha de finalización</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Descripción</span>
                    <textarea class="form-control" name="description" id="description"
                        [(ngModel)]="addExperience.description" aria-label="With textarea"></textarea>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="image" id="image" class="form-control rounded-3" id="floatingInput"
                        [(ngModel)]="addExperience.image" placeholder="Link imagen">
                    <label for="floatingInput">Link de la imagen</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="edit(addExperience)"><i
                class="bi bi-pencil"></i>&nbsp;&nbsp;Editar</button>
    </div>
</ng-template>